p
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue; 
   width: 300px;
   background-position: left ; 
  background-size: cover;
    
    font-size:medium;
}
#p1 {
    background-color: rgb(170, 121, 216);
    color: black;
    
}

#p2 {
    background-color: rgb(78, 39, 129);
    color: #fff;
}

#p3 {
    background-color: rgb(201, 201, 201);
    color: #fff;
}