* {
background-image: url(../task4/images.jpg);
background-repeat: no-repeat;
background-size:cover;
}

p
{
    font-family: Arial, Helvetica, sans-serif;
    
   width: 300px;
   background-position: center left  ; 
  background-size:contain;
    
    font-size:medium;
}
#p1 {
    background-image: url(../task4/images.jpg);
    color: black;
    background-size: 300px;
}

#p2 {
    background-image: url(../task4/images\ \(1\).jpg);
    color: #fff;
    background-repeat: no-repeat;
    background-size: 300px;
}

#p3 {
    background-image: url(../task4/images\ \(1\).jpg);
    color: #fff;
    background-repeat: no-repeat;
    background-size: 300px;
}