*{
    background-color:rgba(34, 25, 34, 0.881);
    color: rgb(255, 252, 252);
}
div {
    width: 400px;
    height: 400px;
    background-image: url(../task3/images.jpg);
    
}

#div1 {
    background-repeat: no-repeat;
    background-size:contain;
    
}
#div2 {
    background-repeat: repeat-y;
    background-position:right;
    background-size: 200px;
}

#div3 {
    background-repeat: repeat-x;
    background-position: bottom;
    width: 400px;
  background-size: 200px;
}

#div4 {
  background-repeat: repeat;
  height: 600px;
  width: 600px;
  background-size: 200px;
}